html{
    background-color:bisque;
    box-sizing: border-box;
}

*, *:before, *:after {
    box-sizing: inherit;
  }

* {
    font-family: Helvetica, sans-serif;
    color: rgb(80, 80, 80);
}

a {
    text-decoration: none;
    font-size: 20px;
}

a:hover, a:visited:hover {
    color: cadetblue;
}

a:visited {
    color: gray;
}

img {
    display: block;
    margin-left: auto;
    margin-right: auto;
    border: 8px dashed brown;
    background-color: aliceblue;
    margin: 35px auto;

}

h1,
h2,
h3, strong, a {
    text-align: center;
    font-family: fantasy;
}

strong {
    font-size: 18px;
}

h1 {
    font-size: 50px;
    color: rgb(201, 128, 12);
}

h2 {
    font-size: 32px;
    color: rgb(12, 201, 122)
}

p {
    margin: 16px 50px;
}

li{
    margin-left: 30px;
    margin-right: 50px;
}

ul.inline-ul {
    text-align: center;
    margin: 0;
    padding: 0;
}

.card {
    background-color: beige;
    border-color: seagreen;
    border-radius: 20px;
    border-width: 10px;
    border-style: groove;
    margin: 20px;
    padding: 40px;
}
